h2.experience-tab {
  position: relative;
  padding-bottom: 8px;
  cursor: pointer;
}

h2.experience-tab::after {
  content: '';
  width: 0;
  height: 4px;
  transition: all 0.4s ease-in-out;
}

h2.current_tab::after {
  content: '';
  width: 40px;
  height: 4px;
  background: #0a6f88;
}
