@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(23, 23, 23);
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border: 6px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 1);
}

html {
  background: #080808;
}

body {
  background: #080808;
  color: #fff;
  box-sizing: border-box;
  text-shadow: 2px 2px #000;
}

.app_container {
  height: 100vh;
}

.suspense {
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
}

section {
  min-height: 100vh;
  padding: 5rem 2.5rem;
}
